.container {
  scroll-snap-type: y mandatory; //point penting
  overflow-y: scroll; //point penting
  height: 100vh; //point penting

  .page1,
  .page2,
  .page3,
  .page4,
  .page5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
    scroll-snap-align: start; //point penting
  }
  .page1 {
    background: red;
  }
  .page2 {
    background: yellow;
  }
  .page3 {
    background: green;
  }
  .page4 {
    background: blue;
  }
  .page5 {
    background: pink;
  }
}
